cherrytree
run_tests
obj-x86_64-linux-gnu
*.gresource.*
po/cherrytree.pot
data/cherrytree.1.gz
ABOUT-NLS
COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
m4/
missing
po/Makevars.template
po/POTFILES
po/Rules-quot
*.header
po/stamp-it
stamp-h1
*.deps/
*.dirstamp

*bin_tests_*

*.lo
.libs/
libp7za.a
libtool
ltmain.sh
ar-lib

debian/autoreconf.after
debian/autoreconf.before
debian/cherrytree.debhelper.log
po/stamp-po
