cherrytree
config.h
*.gresource.*
data/cherrytree.1.gz
data/net.giuspen.cherrytree.metainfo.xml
scripts/cherrytree_nolatex.iss
obj-x86_64-linux-gnu
debian/autoreconf.after
debian/autoreconf.before
debian/cherrytree.debhelper.log
debian/files
build
*.mo
.vscode/settings.json
.flatpak-builder
build_output*.txt
