*.pyc
*.mo
linux/cherrytree.1.gz
*.exe
*.o
*.gmo
*.in
*~
*.sed
*.sin
*Makefile
debian/files
.vscode
future/build
build*
cherrytree_*_amd64.deb
cherrytree_*_amd64.buildinfo
cherrytree_*_amd64.changes
cherrytree-dbgsym_*_amd64.ddeb
cherrytree_*.7z
cherrytree_*.exe
