Source: cherrytree
Section: editors
Priority: optional
Maintainer: Giuseppe Penone <giuspen@gmail.com>
Build-Depends:
 debhelper (>= 9),
 desktop-file-utils,
 gettext,
 cmake,
 libgtkmm-3.0-dev,
 libgtksourceviewmm-3.0-dev,
 libxml++2.6-dev,
 libsqlite3-dev,
 libgspell-1-dev,
 libcurl4-openssl-dev,
 libuchardet-dev,
 libfribidi-dev,
Standards-Version: 3.9.5
Homepage: https://www.giuspen.net/cherrytree/
Vcs-Git: https://github.com/giuspen/cherrytree.git
Vcs-Browser: https://github.com/giuspen/cherrytree

Package: cherrytree
Architecture: any
Depends:
 libgtkmm-3.0-1v5,
 libgtksourceviewmm-3.0-0v5,
 libxml++2.6-2v5,
 libsqlite3-0,
 libgspell-1-1,
 libcurl4,
 libuchardet0,
 libfribidi0,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 texlive-latex-base,
 dvipng,
 xterm
Description: hierarchical note taking application
 CherryTree is a hierarchical note taking application, featuring rich text,
 syntax highlighting, images handling, hyperlinks, import/export with support
 for multiple formats, support for multiple languages, and more.
