[Desktop Entry]
Name=CherryTree
Comment=Hierarchical Note Taking
Comment[cs]=Hierarchická tvorba poznámek
Comment[de]=Hierarchische Notizfunktion
Comment[el]=Ιεραρχική καταγραφή σημειώσεων
Comment[es]=Gestor de notas jerárquico
Comment[fi]=Hierarkkinen muistiinpanojen tekeminen
Comment[fr]=Prise de Notes Hiérarchisées
Comment[hy]=Աստիճանակարգային կառուցվածքով նշատետր
Comment[it]=Gestore di appunti gerarchico
Comment[ja]=階層的メモ取り
Comment[lt]=Hierarchiniai užrašai
Comment[nl]=Hiërarchisch notitie programma
Comment[pl]=Strukturalny Notes
Comment[pt_BR]=Gerenciador de notas hierárquicas
Comment[ru]=Записная книжка с иерархической структурой
Comment[sl]=Hierarhično beleženje
Comment[sv]=Hierarkiska anteckningar
Comment[tr]=Hiyerarşik Notları Tutar
Comment[uk]=Записник з ієрархічною структурою
Comment[zh_CN]=分层笔记
Exec=cherrytree %f
Icon=cherrytree
MimeType=application/cherrytree-ctd;application/cherrytree-ctz;application/cherrytree-ctb;application/cherrytree-ctx;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
Keywords=editor;notes;note-taking;
