Source: cherrytree
Section: utils
Priority: optional
Maintainer: Giuseppe Penone <giuspen@gmail.com>
Build-Depends: debhelper (>= 9), python-central (>=0.5.6), python (>=2.5), python-gtk2 (>=2.16)
Standards-Version: 3.9.5
Homepage: http://www.giuspen.com/cherrytree/

Package: cherrytree
Architecture: all
XS-Python-Version: >=2.5
XB-Python-Version: >=2.5
Depends: python (>=2.5), python-gtk2 (>=2.16), python-gtksourceview2, p7zip-full, python-enchant, python-appindicator, python-dbus
Description: Hierarchical Note Taking
 A hierarchical note taking application, featuring rich text and syntax highlighting, storing all the data in a single xml or sqlite file
