/* Met Office external website                                                                            

Colours:
- black/dark grey: #202A2C
- dark grey: #666666      
- grey: #DDDDDD (thin lines)
- light grey: #EEEEEE (background colour)
- darkish green: #BCDB0C                 
- green: #CCFF33                         
- darkish blue: #4BA8BA                  
- blue: #00ADD0                          

*/

/*******************************************************************************
 * GENERAL
 ******************************************************************************/
/*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700);

body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif !important;
    padding: 20x; 
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

div.main {
    width: 100vw;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: hidden;
}

div.tree {
    flex: 19vw;
    /*background-color: #EEEEEE;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;*/
    /*margin: 0.75em 0 0.75em 20px;*/
    margin-left: 1vw;
    height: 100vh;
    overflow: auto;
}

div.page {
    flex: 80vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 0;
}

iframe.page {
    width: 79vw;
    margin-left: 1vw;
    border: 0px;
    margin-top: 0px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.clear {
    clear: both
}

/*******************************************************************************
 * TREE INDEX
 ******************************************************************************/

div.tree {
    font-size: 12px;
    color: #666666;
}

div.tree a, div.tree a:visited {
    color: #666666;
    text-decoration: none;
}

div.tree a:hover {
    text-decoration: underline;
}

div.tree ol {
    padding-left: 1em;
    list-style-type: square;
}

div.tree ol ol {
    list-style-type: circle;
}

div.tree ol ol ol {
    list-style-type: disc;
}

div.tree ol ol ol ol, div.tree ol ol ol ol ol, div.tree ol ol ol ol ol ol {
    list-style-type: disc;
}

div.tree a.show, div.tree a.hide { display: none; }

/*******************************************************************************
 * NODE PAGES
 ******************************************************************************/

/* TABLES */

table {
    border: 1px solid #AAAAAA;
}

th {
    background-color: #EEEEEE;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #AAAAAA;
}

/* HEADINGS */

div.main h1 {
    font-weight: bold;
    display: inline;
}

div.main h2 {
    padding-top: 1em;
    /*padding-bottom: 0.5em;*/
    font-weight: bold;
    font-size: 150%;
    color: #666666;
    display: inline;
}

div.main h3 {
    padding-top: 0.75em;
    font-weight: bold;
    font-size: 125%;
    color: #666666;
    display: inline;
}

/* LINKS */

/*div.main a, div.main a:visited {
    color: #005BCA;
    text-decoration: none;
}

div.main a:hover, div#me a:hover {
    text-decoration: underline;
}*/

/* CODE */

span.code-node {
    /*color: #FFFF00;  /* yellow */
}

div.codebox, div.main code, div.main pre {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 13px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}

div.main p.tagged-text
div.main code {
    /*color: #859C00;*/
    padding-left: 0.25em;
    padding-right: 0.25em;
}

div.main pre {
    padding: 0.25em;
    overflow: auto !important;
    width: 75%;
}


/* IMAGES */

/*img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}*/

