p7za

libp7za.a

ABOUT-NLS
COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
m4/
missing
po/Makevars.template
po/POTFILES
po/Rules-quot
*.header
po/stamp-it
stamp-h1
*.deps/
*.dirstamp

ar-lib

Makefile.am
configure.ac
